<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- task_for_pid on the target -->
    <key>task_for_pid-allow</key>
    <true/>

    <!-- no sandbox, no container; we run from SSH as root -->
    <key>platform-application</key>
    <true/>
    <key>com.apple.private.security.no-sandbox</key>
    <true/>
    <key>com.apple.private.security.no-container</key>
    <true/>

    <!-- let us ask SpringBoard to launch apps via SBSLaunch SPI -->
    <key>com.apple.springboard.launchapplications</key>
    <true/>
</dict>
</plist>
